body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    color: #333;
    margin: 0;
}

h1 {
    color: #222;
    font-size: 40px;
}

p {
    font-size: 18px;
}
